body {
    margin: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
    background: #F8F8F8;
    color: #444;
    display: grid;
    height: 100vh;
    max-height: 100vh;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 60px 70px auto;
    grid-template-areas: 
        "nav nav nav"
        ". controls ."
        ". main .";
}
body * {
    box-sizing: border-box;
    /* border: solid 1px hotpink; */
}
header {
    grid-area: nav;
    position: fixed;
    height: 60px;
    width: 100vw;
    background-image: -webkit-linear-gradient(top, #666, #111);
    box-shadow: 6px 4px 8px 3px rgba(0, 0, 0, 0.25), 
        inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
h1, h2, h3 {
    font-family: 'Roboto';
}
header h1 {
    color: white;
    margin: 0px;
    line-height: 60px;
    margin-left: 40px;
    font-size: 1.3em;
}

.controls {
    grid-area: controls;
    height: 100%;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-column-gap: 10px;
    align-items: center;
    padding: 10px;
}
#tab-area {
    grid-area: main;
    /* border: solid 1px #000; */
    padding: 10px;
}
#code, #data {
    display: grid;
    grid-template-rows: 50px auto;
    height: 60%;
    align-items: center;
    /* margin-left: 20px;
    margin-right: 20px; */
}
#code {
    grid-area: code;
}
#data {
    grid-area: data;
    padding: 30px;
}
textarea  {
    width: 100%;
    padding: 10px;
    height: 100%;
    font-size: 0.9em;
}